
body {
  text-align: center;
  background-color: var(--background-color);
}

.header-container {
  background-color: #00000020;
  padding: 20px 100px;

  display: flex;
  align-items: center;

  flex-direction: column;
}

.text1 h1 {
  font-size: 48px;
}

.text1 h2 {
  font-size: 36px;
}

.about {
  color: lightgray;
  text-decoration: none;
}

.about:hover {
  color: white;
  text-decoration: underline;
}



.h-item {
  margin: 25px 0;
}

#hamb {
  position: fixed;
  margin: 10px;
  color: white;
  background-color: rgb(80, 79, 79);
  padding: 0px 15px;
  border-radius: 5px;

  top: 0;
  left: 0;

  font-size: 24px;

  cursor: pointer;
  -webkit-user-select: none;
  z-index: 2023;
}

.active {
  transition: .5s ease;
  left: 0px;
}


.stripe {
  display: block;

  position: fixed;
  top: 0;
  width: inherit;
  height: 56px;

  background-color: #202020;

  left: inherit;
}

.menu {
  width: 350px;
  height: 100%;

  position: fixed;
  background-color: #303030;
  transition: .5s ease;
  left: -400px;

  box-shadow: 3px 2px 10px 2px #0f0f0f;
}

.menu.active {
  left: 0;
}

.menu ul {
  margin: 55px 0;
  padding: 0;
}

.menu li {
  padding: 10px 0;

  list-style: none;
  transition: 0.2s ease;
}

.menu li:hover {
  background-color: #202020;
}

.menu a {
  display: block;
  width: inherit;

  color: var(--subtext-color);
  font-size: 24px;
  text-decoration: none;
}

.news {
  margin: 100px;
}

.news h2 {
  margin: 40px;
}

.news img {
  border-radius: 5px;
}