
.album-select {
	text-align: center;

	margin-top: 50px;
}

.buttons {
	display: flex;
	align-items: center;
	justify-content: center;
}

.buttons button {
	cursor: pointer;
	margin: 15px;
}

.buttons img {
	width: 150px;
	border-radius: 10px;
}

.header {
  text-align: center;
  border-bottom: 1px dotted var(--dotted-border-color);
}

.header h1, h2 {
  font-weight: lighter;
}

.title {
	text-align: center;
}

.title h2 {
  font-weight: lighter;
  font-size: 28px;
}

#music-list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#music-list audio {
	margin: 10px;
}


@media screen and (max-width: 800px) {
  .header h1 {
    font-size: 40px;
    font-weight: bolder;
  }
  .header h2 {
    font-size: 26px;
  }

  .buttons {
    justify-content: space-around;
  }

  #button-left {
    padding: 0 10px;
    font-size: 48px;
  }
  #button-right {
    padding: 0 10px;
    font-size: 48px;
  }
  #album-img {
    width: 250px;
  }

  #album-title {
    font-size: 48px;
    margin: 25px 0;
  }
}