
body {
  margin: 0;
  --background-color: #181818;
  --secondary-background-color: #363636;
  --link-text-color: green;
  --default-border-color: blue;
  font-family: times; 
  color: #c2c2c2;
  background-color: var(--background-color);

  width: 800px;
}

a {
  color: var(--link-text-color);
}

section {
  margin-left: 5px;
  margin-bottom: 50px;
}

section h2 {
  color: white;
  text-decoration: dashed;
}

.sub-section {
  padding: 0 10px;
  margin-bottom: 35px;
}

p {
  margin: 0;
  padding: 0;
}