
body {
	margin: 0;

	--background-color: #181818;
	--title-color: #fff;
	--text-color: lightgray;
	--link-text-color: rgba(219, 238, 243, 0.753);
  --secondary-color: rgb(79, 171, 194);
  --dotted-border-color: rgb(53, 53, 53);

	font-family: Arial;

	color: var(--text-color);

  /*background: linear-gradient(0deg, rgba(17,0,17,1) 80%, rgb(31, 0, 31) 100%);
  background-repeat: no-repeat;*/
	background-color: var(--background-color);
}

@media screen and (max-width: 800px) {
  
}