@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


body {
  margin: 0;

  background-color: #150606;
  font-family: 'Poppins', sans-serif;

  color: white;
}

h1, h2, h3 {
  margin: 0;
  font-weight: lighter;
}


.img {
  height: 500px;
  background-image: url("img/background.png");
  background-size: cover;

  background-blend-mode: color;
  background-color: rgba(0, 0, 0, 0.474);
  transition: 2s ease;
}

.img:hover {
  background-position-y: -160px;
  background-color: rgba(100, 3, 3, 0.474);
}

.info {
  height: inherit;

  display: flex;
  align-items: center;
  justify-content: center;
  color: white;

  flex-direction: column;

}

.info h1 {
  font-size: 6.0em;
}

.socials {
  margin: 2px;
  position: absolute;
  right: 0;
  top: 0;
}

.page {
  width: 50%;
  margin: 50px auto;
}


.title {
  width: fit-content;
  padding: 5px 20px;

  background-image: url("img/meat.png");

  background-repeat: repeat;
  
  background-blend-mode: color;
  background-color: rgba(0, 0, 0, 0.344);

  border-radius: 5px;
}
